<!-- ****** Navbar ****** -->
<!-- Dropdown Structure -->
<ul id="dropdown-navbar" class="dropdown-content">
    <li>
        <a href="#!">one</a>
    </li>
    <li>
        <a href="#!">two</a>
    </li>
    <li class="divider"></li>
    <li>
        <a href="#!">three</a>
    </li>
</ul>
<nav>
    <div class="nav-wrapper">
        <a href="" class="brand-logo">Logo</a>
        <a href="" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
        <form class="center wtc-search-navbar">
            <div class="input-field">
                <input id="search" type="search" required>
                <label for="search">
                    <i class="left material-icons">search</i>
                    <div class="chip"> Tag
                        <i class="material-icons">close</i>
                    </div>
                    <div class="chip"> Tag 2
                        <i class="material-icons">close</i>
                    </div>
                    <div class="chip"> Tag 3
                        <i class="material-icons">close</i>
                    </div>
                </label>
                <i class="material-icons">close</i>
            </div>
        </form>
        <ul class="right hide-on-med-and-down">
            <li><a href="/users/facebook">Login</a></li>
            <li><a ui-sref="upload">Upload</a></li>
        </ul>
        <ul class="side-nav" id="mobile-nav">
            <li><a href="/users/facebook">Login</a></li>
            <li><a ui-sref="upload">Upload</a></li>
        </ul>
    </div>
</nav>
